:root {

    // Цвета
    --main-text-color: #000000;
    --accent-text-color: #FF6B08;
    --second-text-color: #8C8C8C;
    --btn-text-color: #FFFFFF;
    --accent-color: #FF6B01;
    --bckgrmodal:rgba(0, 0, 0, 0.25);
    --bckfooter: rgba(247, 247, 247, 1);

    // Шрифты 

    --main-text-font: 'Roboto', sans-serif;
}