:root {

    // Цвета
    --main-text-color: #000000;
    --accent-text-color: #FF6B08;
    --second-text-color: #8C8C8C;
    --btn-text-color: #FFFFFF;
    --accent-color: #FF6B01;

    // Шрифты 

    --main-text-font: 'Roboto', sans-serif;
}