<header class="header-home">
  <div class="container header__container">
    <!-- Common logo-nav container-->

    <div class="header-logo-nav">
      <!-- logo -->

      <div class="header-logo>">
        <a href="./index.html" class="link header-logo__link">
          <span class="header-logo__icon"
            ><svg width="22" height="22">
              <use href=".\images\sprite.svg#icon-film"></use></svg
          ></span>
          <span class="header-logo__text">Filmoteka</span>
        </a>
      </div>

      <!-- Menu-container -->

      <div class="header-nav">
        <ul class="list header-nav__list">
          <li class="item header-nav__item">
            <a href="./index.html" class="link header-nav__link nav__link--current">HOME</a>
          </li>

          <li class="item header-nav__item">
            <a href="./my-library.html" class="link header-nav__link">MY LIBRARY</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Search or buttons container -->

    <div class="search-container">
      <form class="search-form" id="search-form">
        <input type="text" name="searchQuery" autocomplete="off" placeholder="Поиск фильмов..." />
        <button type="submit">
          <span class="search__icon">
            <svg width="16" height="16">
              <use href=".\images\sprite.svg#icon-search-2"></use>
            </svg>
          </span>
        </button>
      </form>
    </div>
  </div>
</header>
