<header class="header" class="container header__container">
  <!-- logo -->

  <div class="header-logo>">
    <a href="./index.html" class="link header-logo__link">
      <span class="header-logo__icon"
        ><svg width="16" height="16">
          <use href=".\images\sprite.svg#icon-film"></use></svg></span
      >Filmoteka
    </a>
  </div>

  <!-- Buttons container -->

  <div class="buttons-container">
    <button type="button" class="btn-watched">WATCHED</button>
    <button type="button" class="btn-queue">QUEUE</button>
  </div>

  <!-- Menu-container -->

  <div class="menu-nav">
    <ul class="list nav__list">
      <li class="item nav__item">
        <a href="./index.html" class="link nav__link">HOME</a>
      </li>

      <li class="item nav__item">
        <a href="./my-library.html" class="link nav__link nav__link--current">MY LIBRARY</a>
      </li>
    </ul>
  </div>
</header>
