<div class="backdrop is-hidden">
    <div class="modal-ourteam ">
        <button class="modal-ourteam__closeBtn">
            <svg class="footer__svg">
                <use href="\images\sprite.svg#icon-heart"></use>
              </svg>
        </button>
    <h3 class="modal-ourteam__heading">Наша Команда</h3>
  <ul class="modal-ourteam__list_of_employers">
    <li class="modal-ourteam__list_item"><div class="modal-ourteam__card_employer"><img class="modal-ourteam__picters" src="../src/images/teamPhoto/savageDanya.jpg" alt=""><ul class="modal-ourteam__sociallinks">
        <li>Кепка Доры, тим лид, Даня Дикий</li>
        <li>instagram</li>
        <li>gitHub</li>
        <li>spotify</li>
    </ul></li>
    <li class="modal-ourteam__list_item"><div class="modal-ourteam__card_employer"><img class="modal-ourteam__picters" src="../src/images/teamPhoto/eugenM.jpg" alt=""></div><ul class="modal-ourteam__sociallinks">
        <li>Стул Доры, скрам мастер, Макаренко Евгений</li>
        <li>instagram</li>
        <li>gitHub</li>
        <li>spotify</li>
    </ul></li>
     <li class="modal-ourteam__list_item"><div class="modal-ourteam__card_employer"><img class="modal-ourteam__picters" src="../src/images/teamPhoto/bustGalterDora.jpeg" alt=""></div><ul class="modal-ourteam__sociallinks">
        <li>Лифон Доры, Олександр Куковиця</li>
        <li>instagram</li>
        <li>gitHub</li>
        <li>spotify</li>
    </ul></li>
     <li class="modal-ourteam__list_item"><div class="modal-ourteam__card_employer"><img class="modal-ourteam__picters"src="https://ca.slack-edge.com/T02EYR420NN-U02GSHCJTSS-eeda053334c1-512" alt=""></div><ul class="modal-ourteam__sociallinks">
        <li>Владимир Доры, Владимир Бендик</li>
        <li>instagram</li>
        <li>gitHub</li>
        <li>spotify</li>
    </ul></li>
     <li class="modal-ourteam__list_item"><div class="modal-ourteam__card_employer"><img class="modal-ourteam__picters" src="../src/images/teamPhoto/galinaFrost.jpg" alt=""></div><ul class="modal-ourteam__sociallinks">
        <li>Фрост Доры, Галина Мороз</li>
        <li>instagram</li>
        <li>gitHub</li>
        <li>spotify</li>
    </ul></li>
  </ul>
  </div>
</div>
