<div class="backdrop-ourteam is-hidden">
    <div class="modal-ourteam ">
        <button class="modal-ourteam__closeBtn">
            <svg class="footer__svg">
                <use href="\images\sprite.svg#icon-heart"></use>
              </svg>
        </button>
    <h3 class="modal-ourteam__heading">Наша Команда</h3>
  <ul class="modal-ourteam__list_of_employers">
    <li class="modal-ourteam__list_item"><div class="modal-ourteam__card_employer"><img class="modal-ourteam__picters" src="../src/images/teamPhoto/savageDanya.jpg" alt=""><ul class="modal-ourteam__sociallinks">
        <li>Кепка Доры, TeamLead: <p>Даня Дикий</p> </li>
        <!-- <li class="modal-ourteam__item"><a href="https://instagram.com/mentaldora?utm_medium=copy_link" target="_blank"><svg class="moda-ourteam__svg" width="15px" height="15px">
            <use href="\images\sprite.svg#instagram"></use>
          </svg>instagram</a></li>
        <li class="modal-ourteam__item"><a href="https://github.com/bezdarshadow" target="_blank"><svg class="moda-ourteam__svg" width="15px" height="15px">
            <use href="\images\sprite.svg#github"></use>
          </svg>gitHub</a></li>
        <li class="modal-ourteam__item"><a href="https://open.spotify.com/artist/5RHjYsmfT5IskZMoU6UuCj" target="_blank"><svg class="moda-ourteam__svg" width="15px" height="15px">
            <use href="\images\sprite.svg#spotify"></use>
          </svg>spotify</a></li> -->
    </ul></li>
    <li class="modal-ourteam__list_item"><div class="modal-ourteam__card_employer"><img class="modal-ourteam__picters" src="../src/images/teamPhoto/eugenM.jpg" alt=""></div><ul class="modal-ourteam__sociallinks">
        <li>Стул Доры, скрам Мастер: <p> Евгений Макаренко </p></li>
        <!-- <li class="modal-ourteam__item"><a href="https://instagram.com/mentaldora?utm_medium=copy_link" target="_blank"><svg class="moda-ourteam__svg" width="15px" height="15px">
            <use href="\images\sprite.svg#instagram"></use>
          </svg>instagram</a></li>
        <li class="modal-ourteam__item"><a href="https://github.com/MakarenkoYevhenii" target="_blank"><svg class="moda-ourteam__svg" width="15px" height="15px">
            <use href="\images\sprite.svg#github"></use>
          </svg>gitHub</a></li>
        <li class="modal-ourteam__item"><a href="https://open.spotify.com/artist/5RHjYsmfT5IskZMoU6UuCj" target="_blank"><svg class="moda-ourteam__svg" width="15px" height="15px">
            <use href="\images\sprite.svg#spotify"></use>
          </svg>spotify</a></li> -->
    </ul></li>
     <li class="modal-ourteam__list_item"><div class="modal-ourteam__card_employer"><img class="modal-ourteam__picters" src="../src/images/teamPhoto/sashaKok.jpg" alt=""></div><ul class="modal-ourteam__sociallinks">
        <li>Охорона Доры: <p>Олександр Куковиця</p> </li>
        <!-- <li class="modal-ourteam__item"><a href="https://instagram.com/mentaldora?utm_medium=copy_link" target="_blank"><svg class="moda-ourteam__svg" width="15px" height="15px">
            <use href="\images\sprite.svg#instagram"></use>
          </svg>instagram</a></li>
        <li class="modal-ourteam__item"><a href="https://github.com/Kukovicya"><svg class="moda-ourteam__svg" width="15px" height="15px">
            <use href="\images\sprite.svg#github" target="_blank"></use>
          </svg>gitHub</a></li>
        <li class="modal-ourteam__item"><a href="https://open.spotify.com/artist/5RHjYsmfT5IskZMoU6UuCj" target="_blank"><svg class="moda-ourteam__svg" width="15px" height="15px">
            <use href="\images\sprite.svg#spotify"></use>
          </svg>spotify</a></li> -->
    </ul></li>
     <li class="modal-ourteam__list_item"><div class="modal-ourteam__card_employer"><img class="modal-ourteam__picters"src="https://ca.slack-edge.com/T02EYR420NN-U02GSHCJTSS-eeda053334c1-512" alt=""></div><ul class="modal-ourteam__sociallinks">
        <li>Владимир Доры: <p>Владимир Бендик</p> </li>
        <!-- <li class="modal-ourteam__item"><a href="https://instagram.com/mentaldora?utm_medium=copy_link" target="_blank"><svg class="moda-ourteam__svg" width="15px" height="15px">
            <use href="\images\sprite.svg#instagram"></use>
          </svg>instagram</a></li>
        <li class="modal-ourteam__item"><a href="https://github.com/wolodwolod" target="_blank"><svg class="moda-ourteam__svg" width="15px" height="15px">
            <use href="\images\sprite.svg#github"></use>
          </svg>gitHub</a></li>
        <li class="modal-ourteam__item"><a href="https://open.spotify.com/artist/5RHjYsmfT5IskZMoU6UuCj" target="_blank"><svg class="moda-ourteam__svg" width="15px" height="15px">
            <use href="\images\sprite.svg#spotify"></use>
          </svg>spotify</a></li> -->
    </ul></li>
     <li class="modal-ourteam__list_item"><div class="modal-ourteam__card_employer"><img class="modal-ourteam__picters" src="../src/images/teamPhoto/galinaFrost.jpg" alt=""></div><ul class="modal-ourteam__sociallinks">
        <li>Фрост Доры: <p>Галина Мороз</p> </li>
        <!-- <li class="modal-ourteam__item"><a href="https://instagram.com/mentaldora?utm_medium=copy_link" target="_blank"><svg class="moda-ourteam__svg" width="15px" height="15px">
            <use href="\images\sprite.svg#instagram"></use>
          </svg>instagram</a></li>
        <li class="modal-ourteam__item"><a href="https://github.com/galinafrost" target="_blank"><svg class="moda-ourteam__svg" width="15px" height="15px">
            <use href="\images\sprite.svg#github"></use>
          </svg>gitHub</a></li>
        <li class="modal-ourteam__item"><a href="https://open.spotify.com/artist/5RHjYsmfT5IskZMoU6UuCj" target="_blank"><svg class="moda-ourteam__svg" width="15px" height="15px">
            <use href="\images\sprite.svg#spotify"></use>
          </svg>spotify</a></li> -->
    </ul></li>
  </ul>
  </div>
</div>
