// HEADER-MY LIBRARY BACKGROUND

.header-my-library {
  background-image: linear-gradient(to right, var(--bckgrheader), var(--bckgrheader)),
    url('../images/header-bg/rectangle1(lib).jpg');

  @include mq(retina) {
    background-image: linear-gradient(to right, var(--bckgrheader), var(--bckgrheader)),
      url('../images/header-bg/rectangle2x(lib).jpg');
  }

  @include mq(mobile-only) {
    background-image: linear-gradient(to right, var(--bckgrheader), var(--bckgrheader)),
      url('../images/header-bg/rectangle1(lib)_320.jpg');

    @include mq(retina) {
      background-image: linear-gradient(to right, var(--bckgrheader), var(--bckgrheader)),
        url('../images/header-bg/rectangle2x(lib)_320.jpg');
    }
  }
  @include mq(tablet-only) {
    background-image: linear-gradient(to right, var(--bckgrheader), var(--bckgrheader)),
      url('../images/header-bg/rectangle1(lib)_768.jpg');

    @include mq(retina) {
      background-image: linear-gradient(to right, var(--bckgrheader), var(--bckgrheader)),
        url('../images/header-bg/rectangle2x(lib)_768.jpg');
    }
  }
}

// BUTTONS CONTAINER
.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.buttons-container button {
  width: 135px;
  height: 45px;
  margin-right: 15px;
  display: block;

  text-transform: uppercase;

  border: 1px var(--btn-text-color) solid;

  border-radius: 5px;
  background-color: transparent;

  color: var(--btn-text-color);
  cursor: pointer;

  font-family: var(--main-text-font);
  //   font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  transition: box-shadow 250ms var(--animation), background-color 250ms var(--animation);
}

.buttons-container button:hover {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  border: none;

  box-shadow: 0px 8px 43px var(--btn-shadow-color);
}
<<<<<<< Updated upstream
=======

.btn-watched.is-active,
.btn-queue.is-active {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  border: none;

  box-shadow: 0px 8px 43px var(--btn-shadow-color);
}
>>>>>>> Stashed changes
