.modal-ourteam {
    width: 100vw;
    height: 100vh;
    @include mq(tablet) {
        height: 85vh;
        width: 80vw;
        max-height:900px ;
    }
    @include mq(desktop) {
        overflow: hidden;
        max-height: 750px;
        width: 700px;
    }
    background: var(--btn-text-color);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    position: relative; 
    padding: 20px;
    overflow-y: auto;
  }
  .modal-ourteam__list_of_employers
  {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      font-family: var(--main-text-font);
      font-weight: 500;
      color: var(--main-text-color);
      font-size: 14px;
      line-height: 1.5;
      text-transform: uppercase;
  }
  .modal-ourteam__heading
  {
      text-align: center;
      margin-bottom: 15px;
  }

  .modal-ourteam__sociallinks{
      margin-top: 10px;
  }

.modal-ourteam__picters
{
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    object-fit: cover;
}
.modal-ourteam__list_item
{
    margin-bottom: 40px;
    text-align: center;
    width: 200px;
}
.modal-ourteam__item a
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-ourteam__item a:hover,
.modal-ourteam__item a:focus
{
    color: var(--accent-color);
}
.modal-ourteam__closeBtn{
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: inherit;
    border: solid 0;
    cursor: pointer;
}
.moda-ourteam__svg
{
    margin-right: 3px;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .backdrop-ourteam{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bckgrmodal);
    z-index: 55000;
    transition: opacity 250ms var(--animation), visibility 250ms var(--animation);
  }
  